body {
  font-family: Arial;
  background-color: #111;
  color: #EEE;
  font-size: 14px;
  background-image: url('img/background.jpg');
}
body svg {
  fill: #EEE;
}
body input {
  background-color: #222;
  color: #EEE;
  height: 20px;
  width: 48px;
  border-width: 1px;
  border-style: solid;
  border-color: #444;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: right;
  font-size: 14px;
}
body select {
  background-color: #222;
  color: #EEE;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #444;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: right;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body .color-indicator {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: black;
  text-align: center;
  vertical-align: middle;
  padding: 6px;
  border-radius: 4px;
  display: inline-block;
}
body table.preview {
  border-collapse: collapse;
}
body table.preview tr {
  height: 20px;
}
body table.preview tr td {
  border-color: #444;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
}
body table.preview tr td.has-planet {
  background-color: #888;
}
body table.preview tr td.has-planet.color-red {
  background-color: #F00;
}
body table.preview tr td.has-planet.color-blue {
  background-color: #00F;
}
body table.preview tr td.has-planet.color-green {
  background-color: #0F0;
}
body table.preview tr td.has-planet.color-yellow {
  background-color: #FF0;
}
body table.preview tr td.has-planet.color-purple {
  background-color: #F0F;
}
body table.preview tr td.has-planet.color-cyan {
  background-color: #0FF;
}
body table.preview tr td.has-planet.color-orange {
  background-color: #F80;
}
body table.preview tr td.has-planet.color-magenta {
  background-color: #F08;
}
body table.preview tr td.has-planet.color-white {
  background-color: #DDD;
}
body table.preview tr td.has-planet.color-brown {
  background-color: #742;
}
body table.map {
  border-collapse: collapse;
}
body table.map tr {
  height: 48px;
}
body table.map tr td {
  padding: 0;
  border-color: #444;
  border-width: 1px;
  border-style: solid;
  background-color: rgba(32, 32, 32, 0.6);
  width: 48px;
  height: 48px;
}
body table.map tr td .planet {
  height: 100%;
}
body table.map tr td .planet.selected {
  background-color: #AAA;
}
body table.map tr td .planet.color-red {
  background-color: #F00;
}
body table.map tr td .planet.color-blue {
  background-color: #00F;
}
body table.map tr td .planet.color-green {
  background-color: #0F0;
}
body table.map tr td .planet.color-yellow {
  background-color: #FF0;
}
body table.map tr td .planet.color-purple {
  background-color: #F0F;
}
body table.map tr td .planet.color-cyan {
  background-color: #0FF;
}
body table.map tr td .planet.color-orange {
  background-color: #F80;
}
body table.map tr td .planet.color-magenta {
  background-color: #F08;
}
body table.map tr td .planet.color-white {
  background-color: #DDD;
}
body table.map tr td .planet.color-brown {
  background-color: #742;
}
body table.map tr td .planet .planet-image {
  width: 100%;
}
body table.map tr td .planet .army-number {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: -51px;
  font-weight: bold;
  text-align: center;
}
body table.map tr td .planet .name {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: -30px;
  font-size: 10px;
}
body a.btn {
  background-color: #222;
  padding: 4px 8px;
  height: 20px;
  text-decoration: none;
  color: #EEE;
  border-color: #444;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 2px 0px;
}
body a.btn:hover {
  background-color: #543;
}
body a.small-btn {
  background-color: #222;
  padding: 8px 8px;
  height: 20px;
  text-decoration: none;
  color: #EEE;
  border-color: #444;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
body a.small-btn:hover {
  background-color: #543;
}
body a.small-btn > svg {
  height: 20px;
  width: 20px;
}
body .game-block {
  border-radius: 4px;
  border-color: #CCC;
  border-width: 1px;
  border-style: solid;
  margin: 2px 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
body .game-block.movement-zone {
  height: 34px;
}
body .game-block.movement-zone > * {
  display: inline-block;
}
body .game-block .alert {
  margin: 2px 2px;
}
body .game-block .alert .turn {
  margin: 0px 2px;
  width: 16px;
  display: inline-block;
}
body .game-block .alert .message {
  margin: 0px 2px;
  display: inline-block;
}
body .game-block .player-indicator {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  margin: 2px;
  color: #000;
  padding: 4px;
  border-radius: 4px;
}
body h2 {
  margin: 2px 4px;
  font-size: 18px;
}
body span.indicator {
  padding: 4px 8px;
  margin: 2px 4px;
}
body table.list tr {
  height: 32px;
}
body .color.color-red {
  background-color: #F00;
}
body .color.color-blue {
  background-color: #00F;
}
body .color.color-green {
  background-color: #0F0;
}
body .color.color-yellow {
  background-color: #FF0;
}
body .color.color-purple {
  background-color: #F0F;
}
body .color.color-cyan {
  background-color: #0FF;
}
body .color.color-orange {
  background-color: #F80;
}
body .color.color-magenta {
  background-color: #F08;
}
body .color.color-white {
  background-color: #DDD;
}
body .color.color-brown {
  background-color: #742;
}
body .text-container {
  padding: 4px 8px;
}
body .text-color.color-red {
  color: #F00;
}
body .text-color.color-blue {
  color: #00F;
}
body .text-color.color-green {
  color: #0F0;
}
body .text-color.color-yellow {
  color: #FF0;
}
body .text-color.color-purple {
  color: #F0F;
}
body .text-color.color-cyan {
  color: #0FF;
}
body .text-color.color-orange {
  color: #F80;
}
body .text-color.color-magenta {
  color: #F08;
}
body .text-color.color-white {
  color: #DDD;
}
body .text-color.color-brown {
  color: #742;
}
body .statistics .statistics-element {
  display: inline-block;
  width: 60px;
  padding: 2px;
  text-align: right;
}
body .statistics .statistics-element svg {
  margin-left: 4px;
  width: 14px;
  height: 14px;
}
